@font-face {
  font-family: 'Mulish';
  src: url("../fonts/Mulish-Bold.eot");
  src: url("../fonts/Mulish-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Mulish-Bold.woff2") format("woff2"), url("../fonts/Mulish-Bold.woff") format("woff"), url("../fonts/Mulish-Bold.ttf") format("truetype"), url("../fonts/Mulish-Bold.svg#Mulish-Bold") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Mulish';
  src: url("../fonts/Mulish-Light.eot");
  src: url("../fonts/Mulish-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Mulish-Light.woff2") format("woff2"), url("../fonts/Mulish-Light.woff") format("woff"), url("../fonts/Mulish-Light.ttf") format("truetype"), url("../fonts/Mulish-Light.svg#Mulish-Light") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Mulish';
  src: url("../fonts/Mulish-Regular.eot");
  src: url("../fonts/Mulish-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Mulish-Regular.woff2") format("woff2"), url("../fonts/Mulish-Regular.woff") format("woff"), url("../fonts/Mulish-Regular.ttf") format("truetype"), url("../fonts/Mulish-Regular.svg#Mulish-Regular") format("svg");
  font-weight: 400;
  font-style: normal; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-weight: 400;
  color: #1F1534;
  font-family: "Mulish", sans-serif;
  padding: 5.6rem 5.6rem 0; }

input, textarea, button {
  font-family: inherit; }

.c-btn, .c-btn--blue, .c-btn--transparent {
  width: 20rem;
  height: 5.6rem;
  border-radius: 5.5rem;
  font-weight: bold;
  font-size: 1.8rem;
  border: 1.4px solid #458FF6;
  outline: none;
  cursor: pointer; }
  .c-btn--blue {
    background-color: #458FF6;
    color: #fff; }
  .c-btn--transparent {
    background-color: transparent;
    color: #458FF6; }

.c-dot {
  position: absolute;
  left: 0;
  top: -3rem; }

.c-rectangle {
  width: 5.2rem;
  height: 2rem;
  background-color: #C4C4C4;
  transform: rotate(13.12deg);
  position: absolute;
  bottom: 1.872rem;
  left: .6rem; }

.header {
  display: flex;
  justify-content: space-between; }
  .header__logo-box {
    cursor: pointer; }
  .header__nav {
    padding: 1rem 0; }
    .header__nav-item {
      display: inline-flex;
      padding: 0 2rem; }
      .header__nav-item:first-child {
        font-weight: bold; }
    .header__nav-link {
      color: inherit;
      text-decoration: none;
      font-size: 1.8rem; }
      .header__nav-link:before {
        display: block;
        content: attr(data-text);
        font-weight: bold;
        height: 0;
        overflow: hidden;
        visibility: hidden; }
      .header__nav-link:after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background-color: #458FF6; }
      .header__nav-link:hover:after {
        width: 100%;
        transition: width .5s; }

.section-intro {
  display: flex;
  justify-content: flex-end;
  margin-top: 8.4rem;
  position: relative;
  background: url("../img/dot_square.svg") no-repeat left top; }
  .section-intro .text-box {
    width: 44.5rem;
    height: 33.8rem;
    margin-top: 9.8rem; }
    .section-intro .text-box .heading-primary, .section-intro .text-box .heading-sub {
      display: block; }
    .section-intro .text-box .heading-primary {
      color: #000;
      font-weight: bold;
      font-size: 4.8rem; }
    .section-intro .text-box .heading-sub {
      font-weight: 200;
      font-size: 2.1rem;
      color: #7D7987;
      margin-top: 2.5rem;
      margin-bottom: 4.5rem; }
  .section-intro .illus-box {
    margin-left: 10.9rem; }
  .section-intro .illus-img {
    width: 69.3rem;
    height: 59.8rem; }
  .section-intro .dot-square {
    position: absolute;
    left: 0;
    top: -3rem; }

.section-services {
  margin-top: 19rem;
  background: url("../img/bg_element.svg") no-repeat left 5rem top, url("../img/dot_square.svg") no-repeat right 13rem bottom 42rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .section-services .text-box {
    width: 95.2rem;
    height: 17.7rem;
    margin: 0 auto; }
    .section-services .text-box .heading {
      text-align: center; }
      .section-services .text-box .heading .heading-primary {
        font-size: 3.6rem;
        font-weight: bold; }
        .section-services .text-box .heading .heading-primary:after {
          content: "";
          display: block;
          background-color: #000;
          width: 5.6rem;
          height: .2rem;
          margin: 2.6rem auto 1.3rem auto; }
      .section-services .text-box .heading .heading-sub {
        font-weight: 300;
        font-size: 1.8rem;
        color: #7D7987; }
  .section-services .services-container {
    width: 116rem;
    padding-top: 6.15rem;
    display: flex;
    flex-wrap: wrap; }
    .section-services .services-container .service-item {
      width: 35rem;
      height: 35.4rem;
      margin: 1.85rem 1.7rem;
      border-radius: 2rem;
      background-color: #fff;
      padding: 5.4rem .5rem 4.659rem 3.9rem;
      box-shadow: 0 .4rem 3rem 0 #ccc; }
      .section-services .services-container .service-item__img {
        width: 9.2rem;
        height: 9rem; }
      .section-services .services-container .service-item__title {
        font-size: 2.4rem;
        font-weight: bold;
        padding: 1.3rem 0;
        margin-top: 2.241rem; }
      .section-services .services-container .service-item__description {
        width: 26.6rem;
        font-size: 1.6rem;
        font-weight: 300;
        color: #7D7987;
        line-height: 2.8rem; }
  .section-services .dot-square {
    position: absolute;
    right: 11rem;
    bottom: 21rem; }
  .section-services .c-btn, .section-services .c-btn--blue, .section-services .c-btn--transparent {
    margin-top: 5.25rem; }
