.c-slider {
  display: flex;
  justify-content: center;
  padding-top: 4.2rem;

  &__control {
    width: 3.14rem;
    height: 2rem;
  }

  &__dots-wrap {
    display: flex;
    align-items: center;
    margin: 0 7.2rem;
  }
  &__dot {
    width: 1rem;
    height: 1rem;
    margin: 0 1.8rem;
    border-radius: 100%;
    background-color: $color-blue;
  }
  &__dot:not(:first-child) {
    opacity: .3;
  }
}