@font-face {
  font-family: 'Mulish';
  src: url("../fonts/Mulish-Bold.eot");
  src: url('../fonts/Mulish-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Mulish-Bold.woff2') format('woff2'),
  url('../fonts/Mulish-Bold.woff') format('woff'),
  url('../fonts/Mulish-Bold.ttf')  format('truetype'),
  url('../fonts/Mulish-Bold.svg#Mulish-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish';
  src: url('../fonts/Mulish-Light.eot');
  src: url('../fonts/Mulish-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Mulish-Light.woff2') format('woff2'),
  url('../fonts/Mulish-Light.woff') format('woff'),
  url('../fonts/Mulish-Light.ttf')  format('truetype'),
  url('../fonts/Mulish-Light.svg#Mulish-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish';
  src: url('../fonts/Mulish-Regular.eot');
  src: url('../fonts/Mulish-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Mulish-Regular.woff2') format('woff2'),
  url('../fonts/Mulish-Regular.woff') format('woff'),
  url('../fonts/Mulish-Regular.ttf')  format('truetype'),
  url('../fonts/Mulish-Regular.svg#Mulish-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 5.6rem 5.6rem 0;
}

input, textarea, button {
  font-family: inherit
}