@mixin clearfix {
  &:after {
    content: "";
    clear: both;
    display: table;
  }
}

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin underline($position, $space-between, $bg-color: #000) {
  &:after {
    content: "";
    display: block;
    background-color: $bg-color;
    width: 5.6rem;
    height: .2rem;
    border-radius: .6rem;

    @if $position == center {
      margin: $space-between auto;
    } @else if $position == left {
      margin: $space-between 0;
    } @else {
      margin: $space-between 0 auto;
    }
  }
}