@mixin clearfix {
  &:after {
    content: "";
    clear: both;
    display: table;
  }
}

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin underline($position, $space-between, $bg-color: #000) {
  &:after {
    content: "";
    display: block;
    background-color: $bg-color;
    width: 5.6rem;
    height: .2rem;
    border-radius: .6rem;

    @if $position == center {
      margin: $space-between auto;
    } @else if $position == left {
      margin: $space-between 0;
    } @else {
      margin: $space-between 0 auto;
    }
  }
}

@mixin dots($left, $top, $right, $bottom, $z-index) {
  &:before {
    content: '';
    display: block;
    width: 13.2rem;
    height: 11.5rem;
    background: url("../img/dot_square.svg") no-repeat;
    position: absolute;
    //top: 52%;
    //right: 8%;
    //z-index: -1;
  }
}

// MEDIA QUERY MANAGER
// 0 - 600px: Phone
// 600 - 900px: Tablet portrait
// 900 - 1200px: Tablet landscape
// [1200 - 1800] is where our normal styles apply
// 1800px + : Big desktop

// $breakpoint argument choices:
// - phone
// - tab-port
// - tab-land
// - big-desktop

// ORDER: Base + typography > general layout + grid > page layout > components

// 1em = 16px

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 36em) {@content};  //576px
  }
  @if $breakpoint == tab {
    @media (max-width: 48em) {@content};   //768px
  }
  // @if $breakpoint == tab-land {
  //   @media (max-width: 75em) {@content};    //1200px
  // }
  // @if $breakpoint == desktop {
  //   @media (min-width: 62em) {@content};    //992px
  // }
  @if $breakpoint == large-desktop {
    @media (min-width: 75em) {@content};    //1200px
  }
  @if $breakpoint == larger-desktop {
    @media (min-width: 87.5em) {@content};   //1400px
  }
}