.header {
  display: flex;
  justify-content: space-between;

  &__logo-box {
    cursor: pointer;
  }

  &__nav {
    padding: 1rem 0;

    &-item {
      display: inline-flex;
      padding: 0 2rem;

      &:first-child {
        font-weight: bold;
      }
    }

    &-link {
      color: inherit;
      text-decoration: none;
      font-size: 1.8rem;

      &:before {
        display: block;
        content: attr(data-text);
        font-weight: bold;
        height: 0;
        overflow: hidden;
        visibility: hidden;
      }

      &:after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background-color: $color-blue;
      }

      &:hover {
        //font-weight: bold;

        &:after {
          width: 100%;
          transition: width .5s;
        }
      }
    }
  }
}