.section-intro {
  display: flex;
  justify-content: center;
  margin-top: 8.4rem;
  position: relative;

  &:before {
    content: '';
    display: block;
    width: 13.2rem;
    height: 11.5rem;
    background: url("../img/dot_square.svg") no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &:after {
    content: '';
    display: block;
    width: 5.2rem;
    height: 2rem;
    position: absolute;
    background-color: #C4C4C4;
    bottom: 1rem;
    left: 0;
    transform: rotate(13.12deg);
    z-index: -1;
  }

  .text-box {
    width: 44.5rem;
    margin-top: 9.8rem;

    .heading {
      display: flex;
      flex-direction: column;

      &-sub {
        margin-top: 2.5rem;
        margin-bottom: 4.5rem;
      }
    }
  }

  .illus-box {
    margin-left: 10.9rem;
    width: 69.3rem;
    height: 59.8rem;
  }

  .illus-img {
    max-width: 100%;
  }
}

.section-services {
  margin-top: 19rem;
  background: url("../img/bg_element.svg") no-repeat left 5rem top;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:before {
    content: '';
    display: block;
    width: 13.2rem;
    height: 11.5rem;
    background: url("../img/dot_square.svg") no-repeat;
    position: absolute;
    top: 52%;
    right: 8%;
    z-index: -1;
  }

  .text-box {
    width: 95.2rem;
    margin: 0 auto;

    .heading {

      &-primary {
        @include underline(center, 2.5rem);
      }
    }
  }

  .services-container {
    width: 116rem;
    padding-top: 6.15rem;
    display: flex;
    flex-wrap: wrap;

    .service-item {
      width: 35rem;
      height: 35.4rem;
      margin: 1.85rem 1.7rem;
      border-radius: 2rem;
      background-color: #fff;
      padding: 5.4rem .5rem 4.659rem 3.9rem;
      box-shadow: 0 .4rem 3rem 0 #ccc;

      &__img {
        width: 9.2rem;
        height: 9rem;
      }

      &__title {
        font-size: 2.4rem;
        font-weight: bold;
        padding: 1.3rem 0;
        margin-top: 2.241rem;
      }

      &__description {
        width: 26.6rem;
        font-size: 1.6rem;
        font-weight: 300;
        color: $color-grey;
        line-height: get-line-height(1.6, 2.8)
      }
    }
  }

  .c-btn {
    margin-top: 5.25rem;
  }
}

.section-providers {
  margin-top: 22rem;
  display: flex;
  justify-content: center;
  position: relative;

  &:before {
    content: '';
    display: block;
    width: 13.2rem;
    height: 11.5rem;
    background: url("../img/dot_square.svg") no-repeat;
    position: absolute;
    top: 110%;
    right: -6%;
    z-index: -1;
  }

  .illus-box {
    width: 65rem;
    height: 47.7rem;

    .illus-img {
      max-width: 100%;
    }
  }

  .text-box {
    width: 40rem;
    margin-left: 12rem;
    margin-top: 8rem;

    .heading {
      &-primary {
        @include underline(left, 2.5rem);
      }

      &-sub {
        margin-bottom: 3.1rem;
      }
    }

    .c-btn {
      margin-top: 3.7rem;
    }
  }
}

.section-apps {
  margin-top: 22rem;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;

  .illus-box {
    width: 66.5rem;
    height: 43.4rem;

    .illus-img {
      max-width: 100%;
    }
  }

  .text-box {
    width: 42rem;
    margin-right: 7.1rem;
    margin-top: 5rem;

    .heading {
      &-primary {
        @include underline(left, 2.5rem);
      }

      &-sub {
        margin-bottom: 3.1rem;
      }
    }

    .c-btn {
      margin-top: 3.7rem;

      .c-icon {
        margin-left: .8rem;
      }
    }
  }
}

.section-testimonials {

  .heading-primary {
    @include underline(center, 2.5rem, #fff)
  }
  .testimonial-wrap {
    width: 112rem;
    height: 42.5rem;
    margin: 26.6rem auto 0;
    padding: 6.4rem 11.8rem 8.2rem;
    border-radius: 2.4rem;
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    position: relative;

    &:before {
      content: '';
      display: block;
      width: 13.2rem;
      height: 11.5rem;
      background: url("../img/dot_square_white.svg") no-repeat;
      position: absolute;
      top: 1.3rem;
      right: -5rem;
      z-index: 1;
    }

    &:after {
      content: '';
      display: block;
      width: 13.2rem;
      height: 11.5rem;
      background: url("../img/dot_square.svg") no-repeat;
      position: absolute;
      bottom: 4rem;
      left: -5rem;
      z-index: -1;
    }

    .testimonial {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 6rem;

      &-left {
        width: 35.4rem;
        display: flex;
        align-items: center;

        .testimonial-info {
          margin-left: 2.9rem;

          &__name {
            font-size: 2.2rem;
            font-weight: bold;
            line-height: get-line-height(2.2, 4.8);
          }
          &__title {
            font-size: 1.8rem;
            color: rgba(255, 255, 255, 0.85);
          }
        }
      }
      &-right {
        width: 42rem;
        margin-left: 5rem;

        .testimonial__quote {
          font-size: 1.9rem;
          line-height: get-line-height(1.9, 3);
          color: rgba(#fff, .9);
        }
      }
    }
  }
}