.section-intro {
  display: flex;
  justify-content: center;
  margin-top: 8.4rem;
  position: relative;
  background: url("../img/dot_square.svg") no-repeat left top;

  .text-box {
    width: 44.5rem;
    margin-top: 9.8rem;

    .heading {
      display: flex;
      flex-direction: column;

      &-sub {
        margin-top: 2.5rem;
        margin-bottom: 4.5rem;
      }
    }
  }

  .illus-box {
    margin-left: 10.9rem;
  }

  .illus-img {
    width: 69.3rem;
    height: 59.8rem;
  }
}

.section-services {
  margin-top: 19rem;
  background: url("../img/bg_element.svg") no-repeat left 5rem top,
  url("../img/dot_square.svg") no-repeat right 13rem bottom 42rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  .text-box {
    width: 95.2rem;
    margin: 0 auto;

    .heading {
      text-align: center;

      &-primary {
        @include underline(center, 2.5rem);
      }
    }
  }

  .services-container {
    width: 116rem;
    padding-top: 6.15rem;
    display: flex;
    flex-wrap: wrap;

    .service-item {
      width: 35rem;
      height: 35.4rem;
      margin: 1.85rem 1.7rem;
      border-radius: 2rem;
      background-color: #fff;
      padding: 5.4rem .5rem 4.659rem 3.9rem;
      box-shadow: 0 .4rem 3rem 0 #ccc;

      &__img {
        width: 9.2rem;
        height: 9rem;
      }

      &__title {
        font-size: 2.4rem;
        font-weight: bold;
        padding: 1.3rem 0;
        margin-top: 2.241rem;
      }

      &__description {
        width: 26.6rem;
        font-size: 1.6rem;
        font-weight: 300;
        color: $color-grey;
        line-height: 2.8rem;
      }
    }
  }

  .c-btn {
    margin-top: 5.25rem;
  }
}

.section-providers {
  margin-top: 22rem;
  display: flex;
  justify-content: center;

  .illus-box {
    .illus-img {
      width: 65rem;
      height: 47.7rem;
    }
  }

  .text-box {
    width: 40rem;
    margin-left: 12rem;
    margin-top: 8rem;

    .heading {
      &-primary {
        @include underline(left, 2.5rem);
      }

      &-sub {
        margin-bottom: 3.1rem;
      }
    }

    .c-btn {
      margin-top: 3.7rem;
    }
  }
}

.section-apps {
  margin-top: 22rem;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;

  .illus-box {
    .illus-img {
      width: 66.5rem;
      height: 43.4rem;
    }
  }

  .text-box {
    width: 42rem;
    margin-right: 7.1rem;
    margin-top: 5rem;

    .heading {
      &-primary {
        @include underline(left, 2.5rem);
      }

      &-sub {
        margin-bottom: 3.1rem;
      }
    }

    .c-btn {
      margin-top: 3.7rem;

      .c-icon {
        margin-left: .8rem;
      }
    }
  }
}